<!DOCTYPE html>
<html>
<head>
  <title>Resume</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <header>
      <a href="<%= root_path %>">Home Page</a>
      <a href="<%= about_path %>">About Page</a>
      <a href="<%= work_history_path %>">Work_History Page</a>
      <a href="<%= education_path %>">Education Page</a>
    </header>
    <section>
    <%= yield %>
    </section>
    <footer>
      copyright &copy <%= Time.now.year %>
    </footer>
</body>
</html>
